DATABASE_URL="postgresql://postgres:password@localhost:5432/swp392_3w_booking_facility_restapi_postgresql?schema=public"
JWT_SECRET=
PORT=6969

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Frontend URL
FRONTEND_URL="http://localhost:5173"

# nodemailer config
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASSWORD=